{% extends "IntractoSecretSantaBundle:Participant/show:base.html.twig" %}

{% block main %}
    <div class="alert alert-danger" role="alert">
        {{ 'participant_show_expired.message.expired' | trans | raw }}
    </div>
    <div class="box">
        <div class="row text-center">

        </div>
    </div>
{% endblock %}

